
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style_20200726.css' %}">
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
  <script src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
  <title>20200725_P2P通話アプリ</title>
</head>

<body>
  <h1>20200725_P2P通話アプリ</h1>
  <div class="container">
      <p class="note">
      
    </p>
    <div class="p2p-media"></div>
      <div class="remote-stream">
        <video id="js-remote-stream"></video>
      </div>
      <div class="local-stream">
        <video id="js-local-stream"></video>
        <p>あなたのID: <span id="js-local-id"></span></p>
        相手のID→
        <input type="text" placeholder="IDをいれてください" id="js-remote-id">
        <button id="js-call-trigger">Call</button>
        <button id="js-close-trigger">Close</button>
      </div>
    </div>
    <p class="meta" id="js-meta"></p>
  </div>

  <script src="//cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/key.js' %}"></script>
</body>

</html>
